<<<<<<< HEAD
/* src/components/Dashboard.css */
.dashboard {
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Align items to the left */
    box-sizing: border-box;
}

.dashboard-header {
    font-size: 2.5rem;
    color: #075f3d;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
=======
.dashboard {
    background-color: white; /* Set background to white */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box; /* Ensures padding is included within width/height */
    overflow: hidden; /* Prevents any unintended scrolling */
}

.dashboard-header {
    font-size: 2.5rem; /* Increase font size further if needed */
    color: #075f3d;
    margin: 0;
>>>>>>> 70a03bec65682df06787618cca57e12dfd1a7344
}
