.globalHeader {

  background-color: rgb(15, 15, 15);
  border-bottom: 2px solid #5a5a5a ;
  padding: 2em;
 
  flex-direction: row;
  display: flex;

  color: white;
  align-items: center;
  justify-content: space-between;


}


.globalHeader nav{
    overflow: hidden;


}

.globalHeader nav a{
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
}


@media  screen and (max-width: 870px) {
  nav a{
    float:none;
    display: block;
    text-align: left;
  }
}