.container {
  width: 100%;
  padding: 8em;
  display: flex;
  justify-content: space-around;
  background-color: rgb(69, 68, 68);
}

.genForm {
  border: 4px #f2f2f2 solid;
  color: hwb(0 0% 100%);
  background-color: #ffffffa4;
  padding: 4rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  transition: 1s ease-in-out;
}

.genForm:hover {
  animation: epicHo 3s;
  animation-iteration-count: infinite;
}

@keyframes epicHo {
  0% {
    border-right-color: rgb(128, 251, 229);
  }
  25% {
    border-top-color: rgb(128, 251, 229);
  }
  75% {
    border-left-color: rgb(128, 251, 229);
  }
  100% {
    border-bottom-color: rgb(128, 251, 229);
  }
}

.genForm label {
  margin: 1rem;
}

.genForm .keyBox {
  padding: 1em;
  margin: 1rem;
  outline: none;
}

.genForm .ioBox {
  outline: none;
  margin: 1rem;
  width: 100%;
  height: 6em;
  padding: 3%;
  font-size: 1rem;

  resize: none;
  box-sizing: border-box;
}

.genForm .ioBox:focus {
  outline: 2px solid rgb(128, 251, 229);
}

.genForm .keyBox:focus {
  outline: 2px solid rgb(128, 251, 229);
}

.genForm .fButton {
  margin: 1rem;
  border-radius: 1px;
  color: rgb(68, 68, 68);
  font-size: 1em;
  box-shadow: none;
  background-color: rgb(246, 246, 246);
  border: 1px rgb(71, 71, 71) solid;
}

.genForm .fButton:hover {
  background-color: rgb(128, 251, 229);
  color: white;
  box-shadow: none;
  border: 2px black solid;
}

.genForm .fButton:focus {
  color: white;
  background-color: rgb(255, 218, 6);
  border-color: rgb(249, 230, 155);
}
