.container {
  width: 100%;
  padding: 8em;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
}

.genForm {
  border: 2px #5a5a5a solid;
  color: hwb(0 100% 0%);
  background-color: rgb(15, 15, 15);
  padding: 4rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  transition: 1s ease-in-out;
}

.genForm:hover {
  animation: epicHo 3s;
  animation-iteration-count: infinite;
  box-shadow: 0px 0em 2.5em #01ffd5;
}

@keyframes epicHo {
  0% {
    border-right-color: rgb(0, 255, 204);
  }
  25% {
    border-top-color: rgb(0, 255, 204);
  }
  75% {
    border-left-color: rgb(0, 255, 204);
  }
  100% {
    border-bottom-color: rgb(0, 255, 204);
  }
}

.genForm label {
  margin: 1rem;
}

.genForm .keyBox {
  background-color: rgb(21, 21, 21);
  color: rgb(122, 120, 120);
  padding: 1em;
  margin: 1rem;
  outline: none;
}

.genForm .ioBox {
  background-color: rgb(21, 21, 21);

  color: rgb(122, 120, 120);
  outline: none;
  margin: 1rem;
  width: 100%;
  height: 6em;
  padding: 3%;
  font-size: 1rem;

  resize: none;
  box-sizing: border-box;
}

.genForm .ioBox:focus {
  outline: 2px solid rgb(128, 251, 229);
}

.genForm .keyBox:focus {
  outline: 2px solid rgb(128, 251, 229);
}

.genForm .fButton {
  margin: 1rem;
  border-radius: 1px;
  color: rgb(97, 95, 95);
  font-size: 1em;
  box-shadow: none;
  background-color: rgb(37, 36, 36);
  border: 1px rgb(91, 90, 90) solid;
}

.genForm .fButton:hover {
  background-color: rgb(128, 251, 229);
  color: white;
  box-shadow: none;
  border: 2px black solid;
}

.genForm .fButton:focus {
  color: white;
  background-color: rgb(255, 218, 6);
  border-color: rgb(249, 230, 155);
}

/*file section styles goes here*/

.containerFile {
  
  background-color: black;
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  gap:8em;
}



.fileHandlerBox {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px #5a5a5a solid;
  border-bottom: 2px #5a5a5a solid;
  padding: 5em;
  align-items: center;
  flex-direction: row;
  background-color: rgb(15, 15, 15);
  transition: 1s ease-in-out;
  margin-bottom: 6em;

}

.instructions  p{
  color: #717171;
}

.fileHandlerBox:hover{
  animation: ConX 3s;
  animation-iteration-count: infinite;
}


@keyframes ConX {
  0% {
    border-right-color: rgb(0, 255, 204);
  }
  50%{
    border-top-color: rgb(0, 255, 204);
  }
  100% {
    border-bottom-color: rgb(0, 255, 204);
  }

}


.inputKey{
  background-color: rgb(21, 21, 21);
  color: rgb(122, 120, 120);
  padding: 1em;
  margin: 1rem;
  outline: none;
  
}

.formBox{
  border: 2px #5a5a5a solid;
  background-color: rgb(34, 34, 34);
  padding: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 1s ease-in-out;
}


.formBox a{
  margin: 1rem;
  padding: 1em;
  border-radius: 1px;
  color: rgb(97, 95, 95);
  font-size: 1em;
  box-shadow: none;
  background-color: rgb(37, 36, 36);
  border: 1px rgb(91, 90, 90) solid;
  transition: 1s;
}





.formBox .fButton {
  margin: 1rem;
  border-radius: 1px;
  color: rgb(97, 95, 95);
  font-size: 1em;
  box-shadow: none;
  background-color: rgb(37, 36, 36);
  border: 1px rgb(91, 90, 90) solid;
}

.formBox:hover{
  animation: FormX 3s;
  animation-iteration-count: infinite;
  box-shadow: 0px 0em 2.5em #02a388;
}

.formBox .fButton:hover {
  background-color: rgb(128, 251, 229);
  color: white;
  box-shadow: none;
  border: 2px black solid;
}

.formBox .fButton:focus {
  color: white;
  background-color: rgb(255, 218, 6);
  border-color: rgb(249, 230, 155);
}

@keyframes FormX {
  0% {
    border-right-color: rgb(0, 255, 204);
  }
  25%{
    border-top-color: rgb(0, 255, 204);
  }
  75% {
    border-bottom-color: rgb(0, 255, 204);
  }100%{
    border-left-color: rgb(0, 255, 204);
  }

}





.Browse{
  padding: 1em;

  color: white;
  transition: 0.7s ease-in;
}


input[type="file"]::file-selector-button{
  margin-left: 5em;
  margin-right: 2em;
  padding: 1em;
  border:2px solid #717171;
  border-radius: 2px;
  color: white;
  background-color: #3a3939;
  transition: 0.7s ease-in;
}

.Browse:hover{

  color: hsl(50, 100%, 52%);
}


input[type="file"]::file-selector-button:hover{

  border:2px solid hsl(53, 100%, 52%);
  color: hsl(57, 100%, 52%);

}





footer{
  text-align: center;
  padding: 6em;
  color :rgb(90, 90, 90);
  border-top: #757575 solid 2px;
  background-color: rgb(27, 27, 27);
  
}
footer a{
  text-decoration: none;
  color: #01ffd5;
}